<footer class="bg-blue-50 w-full flex flex-wrap justify-between items-center h-16 text-gray-700 fixed bottom-0 left-0 px-4" style="box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);">
  <!-- Copyright al extremo izquierdo -->
  <div class="text-left text-xs sm:text-base">
    <p class="text-black">
      © Copyright <b>Academia STEM</b>. Todos los derechos reservados
    </p>
  </div>

  <!-- Enlaces al extremo derecho -->
  <div class="flex space-x-2 text-xs sm:text-base">
    <a href="#" class="text-blue-500 hover:underline">Términos y condiciones</a>
    <span>|</span>
    <a href="#" class="text-blue-500 hover:underline">Política de privacidad</a>
  </div>
</footer>