<div class="flex flex-col md:flex-row items-start justify-center min-h-screen p-4 sm:p-8 mt-16 mb-16">
  <!-- Contenedor del Formulario e Imagen -->
  <div class="flex flex-col md:flex-row items-start md:items-center md:space-x-16 lg:space-x-32 bg-white w-full max-w-5xl rounded-lg">

    <!-- Formulario con margen ajustado para pantallas grandes -->
    <form [formGroup]="registroForm" class="space-y-4 w-full max-w-md p-6" (ngSubmit)="registro(registroForm.value)">
      <h1 class="text-2xl sm:text-3xl font-semibold text-gray-700 mb-8">Registrar usuario</h1>
      
      <!-- Username -->
      <div class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-2">
        <label for="username" class="md:w-28 text-gray-600 font-semibold">Username:</label>
        <input 
          type="text" 
          id="username" 
          formControlName="username" 
          [ngClass]="{'border-red-500': registroForm.get('username')?.invalid && registroForm.get('username')?.touched}"
          class="w-full border rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-500" 
          required>
      </div>

      <!-- Nombre -->
      <div class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-2">
        <label for="nombre" class="md:w-28 text-gray-600 font-semibold">Nombre (s):</label>
        <input 
          type="text" 
          id="nombre" 
          formControlName="nombre" 
          [ngClass]="{'border-red-500': registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched}"
          class="w-full border rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-500" 
          required>
      </div>

      <!-- Apellido Paterno -->
      <div class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-2">
        <label for="app" class="md:w-28 text-gray-600 font-semibold">Apellido Paterno:</label>
        <input 
          type="text" 
          id="app" 
          formControlName="app" 
          [ngClass]="{'border-red-500': registroForm.get('app')?.invalid && registroForm.get('app')?.touched}"
          class="w-full border rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-500" 
          required>
      </div>

      <!-- Correo -->
      <div class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-2">
        <label for="correo" class="md:w-28 text-gray-600 font-semibold">Correo:</label>
        <input 
          type="email" 
          id="correo" 
          formControlName="correo" 
          [ngClass]="{'border-red-500': registroForm.get('correo')?.invalid && registroForm.get('correo')?.touched}"
          class="w-full border rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-500" 
          required>
      </div>

      <!-- Institución -->
      <div class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-2">
        <label for="institucion" class="md:w-28 text-gray-600 font-semibold">Institución:</label>
        <select 
          formControlName="institucion" 
          id="institucion" 
          [ngClass]="{'border-red-500': registroForm.get('institucion')?.invalid && registroForm.get('institucion')?.touched}"
          class="w-full border rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-500" 
          required>
          <option value="" disabled selected>Seleccione una institución</option>
          <option *ngFor="let institucion of instituciones" [value]="institucion.id_institucion">{{ institucion.nombre_inst }}</option>
        </select>
      </div>

      <!-- Contraseña -->
      <div class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-2">
        <label for="password" class="md:w-28 text-gray-600 font-semibold">Contraseña:</label>
        <input 
          type="password" 
          id="password" 
          formControlName="password" 
          [ngClass]="{'border-red-500': registroForm.get('password')?.invalid && registroForm.get('password')?.touched}"
          class="w-full border rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-500" 
          required>
      </div>

      <!-- Confirmar Contraseña -->
      <div class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-2">
        <label for="confirmPassword" class="md:w-28 text-gray-600 font-semibold">Confirmar Contraseña:</label>
        <input 
          type="password" 
          id="confirmPassword" 
          formControlName="confirmPassword" 
          [ngClass]="{'border-red-500': passwordsNoCoinciden() && registroForm.get('confirmPassword')?.touched}"
          class="w-full border rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-500" 
          required>
      </div>

      <!-- Botón de Registro -->
      <button 
        type="submit" 
        [disabled]="registroForm.invalid || passwordsNoCoinciden()" 
        class="w-full bg-blue-500 text-white font-semibold py-2 rounded-md hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 mt-4 disabled:bg-gray-400 disabled:cursor-not-allowed">
        Registrar usuario
      </button>
    </form>

    <!-- Imagen Lado Derecho -->
    <div class="flex items-center justify-center w-full md:w-auto mt-8 md:mt-0">
      <img src="https://via.placeholder.com/600" alt="Imagen de Placeholder" class="rounded-lg shadow-md w-11/12 sm:w-10/12 md:w-[350px] lg:w-[400px] xl:w-[450px] h-auto">
    </div>
  </div>
</div>
